@using RentSmart.Web.ViewModels.Properties.ViewModels
@model UserAllPropertiesViewModel
@{
    ViewData["Title"] = "My Properties";
}

<div> 
    <div class="container mt-4">
        <h3 class="text-center">@ViewData["Title"]</h3>
    </div>
    <hr />
    <div>
        <partial name="_ManagersPartial" model="@Model.ManagedProperties" />
    </div>
    @*     <div>
    <partial name="_OwnersPartial" model="@Model.OwnedProperties" />
    </div>
    <div>
    <partial name="_RentersPartial" model="@Model.RentedProperties" />
    </div> *@
</div>