@using RentSmart.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Welcome to @GlobalConstants.SystemName!</h3>
    @await Component.InvokeAsync("GetCountsComponent")
</div>


Find Your Dream Home
find the perfect home, RentSmart you home