@using RentSmart.Web.ViewModels.Properties
@model List<PropertyTypeInputModel>

<select class="form-select">
    <option value="">Select....</option>
    @foreach (var propertyType in Model)
    {
        <option value="@propertyType.Id">@propertyType.Name</option>
    }
</select>